<% include ../partials/header %>

<div class="search-contents text-center">

    <h1>Search For a Movie</h1><br><br>


    <div class="row col-centered " style="display: flex; flex-wrap: nowrap; width: 70%">
<% for(var i=0; i<10; i++) {  %>

            <div class="card" style="width: 25rem;">
                <a href="#">
                      <img class="card-img-top" src="/images/test.jpg" alt="Card image cap">
                      <div class="card-body">
                            <h4 class="card-title"><strong>A Very Popular Movie</strong></h4>
                            <p class="card-text">2017, MOVIE <br>Bacon ipsum dolor amet pork sausage turducken.</p>
                      </div>
                  </a>
            </div>

<% } %>
    </div> <br><br>


<form action="/results" method="GET" >
<div class="col-xs-6 col-centered">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Please type in a movie name." name="search">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Go!</button>
    </span>
  </div>
</div>
</form>

</div>




<% include ../partials/footer %>
