<% include ../partials/header %>

<div class="search-contents">

<h1>Search For a Movie</h1><br><br>


<form action="/results" method="GET" >
<div class="col-lg-6">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="search term" name="search">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Go!</button>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</form>

</div>




<% include ../partials/footer %>
